name: CI

on:
  push:
    branches:
      - main
      - feature/github-actions
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'


    - name: Install dependencies for testing and documentation
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        uv add --dev pytest pytest-html pytest-github-actions-annotate-failures

    - name: Run tests
      run: |
        mkdir -p test-results
        uv run pytest -v --durations=0 --cov=decision_mcp_server --cov-report=html --cov-report=term-missing tests/ --html=test-results/report.html --self-contained-html
